
.body {
  flex: 1;
  position: relative;
  overflow: visible;
  width: 100%;
  background: url(@assets/images/sky-1.png);
  background-size: cover;
  background-position: center;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.full-btn {
  position: absolute;
  right: 20px;
  top: 90px;
  z-index: 20;
}

.capture-btn {
  position: absolute;
  right: 20px;
  top: 140px;
  z-index: 20;
}

.see-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.builds{
  flex: 1;
}
.building {
  min-width: 200px;
  min-height: 700px;
  background: url(@assets/images/build.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 200px;
  flex: 1;
  margin-bottom: 10px;
}

.align-right {
  background-position: right bottom;
}

.roads {
  position: relative;
}

.surface-area {

  .road-area {
    flex: 1;
  }

  .statics {
    height: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;

    .line {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      bottom: -16px;
      background-color: aqua;
    }

    .sep {
      background-color: aqua;
      position: absolute;
      width: 4px;
      height: 10px;
      bottom: -20px;
    }

    .left{
      left: 0;
    }

    .right {
      right: 0;
    }
  }
}


.foot {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
